h1 {
    color: cyan; 
    background-color: grey;
}

p {
    font-size: 20px;
    color: black;
}

a {
    color: blue;
    text-decoration: none;
    border: solid;
    border-color: black;
    display: block;
    padding: 5px;
    /* width: 100px; */
    background-color: red;
    text-align: center;
    border-radius: 30px;
}

.main-article {
    background-color: pink;
    border: solid 19px purple;
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
}

.point1 {
    color: white;
}

.point2 {
    color: tomato;
}

#great {
    color: green;
}

.main-goods {
    background-color: rgb(17, 113, 2);
    border: solid 19px purple;
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
}


h3, #great, .main-goods {
    background-color: rgb(175, 218, 31, 0.7);
}


body{
    background-color: grey;
}

.relative{
    position: fixed;
    top: 10px;
    left: 10px;
    border: solid;
    background-color: blue;
}